h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
}

p,
a,
div > span,
label {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #132235;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: initial;
}

.header__img {
  height: 80px;
  width: 250px;
  margin: 10px 0px 0px 30px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: initial;
  height: 100px;
  width: auto;
  margin-right: 30px;
  position: relative;
}
.header__menu ul {
  height: auto;
  width: 120px;
  display: none;
  list-style: none;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 0;
}
.header__menu:hover ul {
  display: block;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: none;
}
.header__menu--profile img {
  width: 50px;
  margin-right: 5px;
}
.header__menu--profile p {
  color: #ffffff;
}

.main {
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .main__title {
  color: #ffffff;
  font-size: 25px;
}
.main .input {
  width: 50%;
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #6eb7d8;
  outline: transparent;
  color: #ffffff;
  margin: 10px 0px;
  padding: 0px 10px;
  font-size: 25px;
  height: 40px;
  letter-spacing: 1px;
}
.main ::placeholder {
  color: #ffffff;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 0px 30px;
  position: relative;
}
.carousel .carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel .carousel-item {
  height: 250px;
  width: 200px;
  border-radius: 20px;
  background-color: #6eb7d8;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 500ms all;
  transform-origin: center left;
  position: relative;
}
.carousel .carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel .carousel__container:hover .carousel-item {
  opacity: 0.5;
}
.carousel .carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel .carousel-item__img {
  height: 250px;
  width: 200px;
  object-fit: cover;
}
.carousel .carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel .carousel-item:hover .carousel-item__details {
  opacity: 1;
}
.carousel .carousel-item__details > div > img {
  height: 15px;
  width: 15px;
}
.carousel .carousel-item__details--title {
  margin: 5px 0px;
  font-size: 12px;
  font-weight: bold;
}
.carousel .carousel-item__details--subtitle {
  margin: 5px 0px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #132235;
}

::-webkit-scrollbar-thumb {
  background-color: #6eb7d8;
}

.footer {
  background-color: #132235;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: initial;
  height: 100px;
  width: 100%;
}
.footer-custom {
  background-color: #6eb7d8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: initial;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}

.footer-custom a {
  color: #132235;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}

.footer a:hover,
.footer-custom a:hover {
  text-decoration: underline;
}

.login {
  background: linear-gradient(#132235, #6eb7d8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  padding: 60px 68px 40px;
  min-height: 500px;
  width: 300px;
  display: flex;
  align-items: initial;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.6);
}

.login__container--form {
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
}

.login__container--form label {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: initial;
  font-size: 14px;
}

.login__container--remember-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  font-size: 14px;
  margin-top: 10px;
}

.login__container--remember-me a {
  text-decoration: none;
  color: #ffffff;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media {
  margin: 30px 0px;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  margin: 10px 0px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.login__container--login-link {
  font-size: 14px;
  text-align: center;
}

.login__container--login-link a {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.login__container--login-link a:hover {
  text-decoration: underline;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #ffffff;
  outline: transparent;
  color: #ffffff;
  margin: 10px 0px;
  padding: 0px 10px;
  font-size: 16px;
  height: 50px;
  letter-spacing: 1px;
}

::placeholder {
  color: #ffffff;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
  transition: 500ms background-color;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.page-not-found__title {
  color: #132235;
  font-size: 100px;
  margin: 0;
}

.page-not-found__description {
  color: #132235;
  font-size: 20px;
  font-weight: bold;
}

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 200px);
  background: linear-gradient(#132235, #6eb7d8);
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: initial;
    flex-direction: column;
    background-color: #6eb7d8;
  }

  .footer a {
    margin: 5px;
  }
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.rubberBand {
  animation-name: rubberBand;
}

/*# sourceMappingURL=main.css.map */
