$primary-color: #132235;
$secondary-color: #6eb7d8;
$main-text-color: #ffffff;

$headings-font: "Domine", serif;
$body-font: "Montserrat", sans-serif;

@mixin flex($vertically, $horizontally, $direction) {
  display: flex;
  align-items: $vertically;
  justify-content: $horizontally;
  flex-direction: $direction;
}

@mixin widthAndHeight($width, $height) {
  height: $height;
  width: $width;
}

@mixin input(
  $background-color,
  $text-color,
  $text-size,
  $border-bottom-color,
  $height
) {
  background-color: $background-color;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid $border-bottom-color;
  outline: transparent;
  color: $text-color;
  margin: 10px 0px;
  padding: 0px 10px;
  font-size: $text-size;
  height: $height;
  letter-spacing: 1px;
}

@mixin button($background-color, $text-color, $text-size, $height) {
  background-color: $background-color;
  border: none;
  border-radius: 25px;
  color: $text-color;
  cursor: pointer;
  height: $height;
  font-size: $text-size;
  font-weight: bold;
  margin: 20px 0px;
  transition: 500ms background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font;
}

p,
a {
  font-family: $body-font;
}

body {
  margin: 0;
  background-color: $primary-color;
}

.header {
  @include widthAndHeight(100%, 100px);
  @include flex(none, space-between, none);
}
.header__img {
  @include widthAndHeight(250px, 80px);
  margin: 10px 0px 0px 30px;
}
.header__menu {
  @include flex(center, none, none);
  @include widthAndHeight(auto, 100px);
  margin-right: 30px;
  position: relative;
  ul {
    @include widthAndHeight(120px, auto);
    display: none;
    list-style: none;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 40px;
    right: 0;
  }
  &:hover ul {
    display: block;
  }
  li {
    margin: 10px 0px;
  }
  li a {
    color: $main-text-color;
    font-weight: bold;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: underline;
  }
  &--profile {
    @include flex(center, none, none);
  }
  &--profile img {
    width: 50px;
    margin-right: 5px;
  }
  &--profile p {
    color: $main-text-color;
  }
}

.main {
  @include widthAndHeight(auto, 200px);
  @include flex(center, center, column);
  .main__title {
    color: $main-text-color;
    font-size: 25px;
  }
  .input {
    width: 50%;
    @include input(transparent, $secondary-color, 25px, $secondary-color, 40px);
  }
}
