<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <img class="header__img" src="assets/img/logo.png" alt="Logo" />
      <div class="header__menu">
        <div class="header__menu--profile">
          <img src="./assets/icons/profile-icon.png" alt="Profile" />
          <p>Username</p>
        </div>
        <ul>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Cerrar Sesión</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
